@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  height: calc(100vh - 66px);
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transform: scale(var(--zoom-level, 1));
  transition: transform 0.3s ease;
}

.main-content {
  position: relative;
  height: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.parent button:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}

.parent button:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
}
